<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javaweb13S.dao.CustomerDAO">
	
	<select id="getStoreMap" resultType="com.spring.javaweb13S.vo.StoreMapVO">
		select * from storeMap order by idx desc;
	</select>
	
	<select id="getStoreMapInfo" resultType="com.spring.javaweb13S.vo.StoreMapVO">
		select * from storeMap where idx=#{idx};
	</select>
	
	
</mapper>