@charset "UTF-8";
@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: 'SUITE-Regular';
  color: #111;
}
input[type=checkbox] {
  accent-color: #555;
}
.cart-container {
  width: 65%;
  margin: 0 auto 0;
}
.cart-container .cart-st {
  margin: 150px 0 15px;
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
}
.select-box-st {
  display: flex;
  justify-content: start;
  align-items: center;
}
.select-box-st div {
  position: relative;
  margin-top: 50px;
  padding: 0 18px;
  font-size: 0.9rem;
  align-items: center;
  vertical-align: middle;
  display: flex;
  
}
.select-box-st div ~ div:after { 
  content: ""; 
  position: absolute; 
  left: 0; 
  top: 2px; 
  height:14px; 
  width: 1px; 
  background: #555; 
  transform: rotate(0deg);
}
.cart-item-box-top {
  display: block;
  width : 100%;
  margin-top: 20px;
}

.cart-big-box .cart-item-box {
  display: grid;
  grid-template-columns: 1fr 1fr 5fr 1fr 2fr;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5px 0;
}
.cart-big-box .cart-item-box .cart-title-box {
  text-align: left;
}
.cart-big-box .cart-item-box .cart-title-box .cart-title {
  padding-left: 30px;
  font-size: 1.3rem;
}

.cart-big-box .cart-item-box .cart-img img {
  width: 60px;
  height: 60px;
}
.cart-big-box .cart-item-box .cnt-box {
  display: grid;
  margin: 0 auto 0;
  align-items: center;
  justify-content: center;
  border-style: none;
  background-color: #fff;
  border-radius: 5px;
}
.cart-big-box .cart-item-box .cnt-box .num-btn {
  font-size: 1rem;
}
.cart-big-box .cart-item-box .cart-price {
  font-size: 1.3rem;
}
.cart-big-box .cart-item-box .cart-price span {
  font-size: 1.1rem;
  margin-left: 5px;
}
  
.cart-btm {
  display: block;
  width : 100%;
  border: 1px dotted rgba(0, 0, 0, 0.2);
}
.cart-btm-1 {
    display: block;
    width : 100%;
  }
.totalPrice-cart-box .totalPrice-cart {
  display: flex;
  font-size: 1.2rem;
  font-weight: 900;
  justify-content: end;
  margin-top: 50px;
  margin-bottom: 25px;
  margin-right: 12px;
  align-items: baseline;
}

.totalPrice-cart-box .totalPrice-cart span {
  font-size: 1.6rem;
  margin-right: 8px;
  margin-left: 15px;
}


.cart-pay {
  margin: 0 auto 0;
  text-align: end;
}
.cart-pay-btn:hover {
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
.cart-pay-btn {
  width: 20%;
  padding: 13px 20px;
  font-size: 22px;
  background-color: #D01012;
  color: #fff;
  border-radius: 10px;
}		
.cart-big-box-1 {
  display: grid;
  margin: 0 auto 0;
  height: 100px;
  align-content: center;
  justify-content: center;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.cart-big-box-1 a {
  text-align: center;
  margin-top: 10px;
  color: #f8f8f8;
  background-color: #777;
  padding: 5px;
  border-radius: 5px;
}