@charset "UTF-8";
@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'SUITE-Regular';
    color: #333;
}

.container {
    width: 70%;
    margin: 200px auto 0;
    justify-content: center;
}

.back-to-customer {
    width: 350px;
    font-size: 1.3rem;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.back-to-customer::before {
    position: absolute;
    top: 6px;
    left: 45px;
    width: 0.7rem;
    content: '';
    height: 0.7rem;
    border-left: 2px solid #333;
    border-bottom: 2px solid #333;
    transform: rotate(45deg);
}

.back-to-customer:hover {
    cursor: pointer;
}

.delivery-info-container {
    width: 50%;
    margin: 90px auto 0;
}

.delivery-info-container .title {
    text-align: center;
    font-size: 2.3rem;
    font-weight: 900;
}

.delivery-info-container .sub-title {
    margin-top: 60px;
    font-weight: 900;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.delivery-info-container .img-box {
    text-align: center;
    margin-bottom: 30px;
}

.delivery-info-container .img-box img {
    width: 100px;
    height: 100px;
}

.delivery-info-container .text a {
    color: #007fff;
    font-weight: bolder;
    text-decoration: underline;
}

.delivery-info-container .text a:hover {
    cursor: pointer;
}

.container .delivery-info-container .text {
    margin: 15px 0;
    font-size: 1rem;
}

.delivery-info-margin {
    margin-top: 300px;
}