@charset "UTF-8";
@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
* {
  font-family: 'SUITE-Regular';
  color: #333;
}
.idFind-box {  
  position: fixed;
  top: 15px;
  left: 15px;
  width: 450px;
  height: 450px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  align-items: center;
}
.idFind-box .idFind-box-1 {
  width : 250px;
  height: 450px;
  margin: 0 auto 0;
  justify-content: center;
  margin-top: 60px;
}
.input-text-box .input-text-1 {
  font-size: 1.3rem;
  margin-top: 20px;
}
.input-text-box .input-text-2 {
  font-size: 0.9rem;
  margin: 20px 0 30px;
}
.email-input::-webkit-input-placeholder {
  padding-left: 10px;
  font-size: 0.85rem;
}
.findUid-head {
  text-align: center;
  font-size: 700;
  margin-bottom: 20px;
}
.email-input-box {
  text-align: center;
  margin-bottom: 10px;
}
.email-input-box .input-head {
  text-align: left;
  font-size: 12px;
  font-weight: 800;
}
.email-input-box .email-input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 40px;
  color: #333;
  outline: none;
  font-size: 0.95rem;
}
.email-input-box .email-input:focus {
  border-color: #000;
}   

.uid-close-box {
  text-align: center;
}
.uid-close-box .findUid-submit {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  background-color: #D01012;
  color: #fff;
  font-size: 0.8rem;
  border-radius: 10px;
}
.uid-close-box .findUid-close {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  background-color: #777;
  color: #fff;
  font-size: 0.8rem;
  border-radius: 10px;
} 

.email-input-box #idSearchTimer {
    position: absolute;
    top: 230px;
    right: 110px;
    color: #000;
    font-weight: 700;
    font-size: 0.9rem;
}