@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'LeferiPoint-BlackA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'SUITE-Regular';
}

.main-banner-box {
    width: 90%;
    height: 86vh;
    margin: 120px auto 0;
}

.main-banner-box .main-banner {
    width: 100%;
    height: 100%;
    justify-content: center;
    position: relative;
}

.menu-box-container {
    width: 70%;
    margin: 150px auto 0;
    justify-content: center;
}
.menu-box-container .menu-box {
    width: 70vmax;
    height: 70vmax;
    display: grid;
    gap: 10px;
}
.menu-item:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/3;
}

.menu-item:nth-child(n+2):nth-child(-n+7) {
    background-color: #f8f8f8;
    background-repeat: no-repeat;
    background-position: center;
}
.menu-item:nth-child(2) {
    grid-column: 3;
    grid-row: 1;
    background-image: url(../resources/images/main/grid_2.webp);
    background-size: 90%;
}
.menu-item:nth-child(2):hover {
    background-size: 93%;
    transition: all 0.2s ease-in-out;
    background-color: #f3f3f3;
}
.menu-item:nth-child(3) {
    grid-column: 4;
    grid-row: 1;
    background-image: url(../resources/images/main/grid_3.webp);
    background-size: 55%;
}
.menu-item:nth-child(3):hover {
    background-size: 58%;
    transition: all 0.2s ease-in-out;
    background-color: #f3f3f3;
}

.menu-item:nth-child(4) {
    grid-column: 3/5;
    grid-row: 2;
    background-image: url(../resources/images/main/grid_4.webp);
    background-size: 70%;
}
.menu-item:nth-child(4):hover {
    background-size: 73%;
    transition: all 0.2s ease-in-out;
    background-color: #f3f3f3;
}
.menu-item:nth-child(5) {
    grid-column: 1/3;
    grid-row: 3;
    background-image: url(../resources/images/main/grid_5.webp);
    background-size: 70%;
}
.menu-item:nth-child(5):hover {
    background-size: 73%;
    transition: all 0.2s ease-in-out;
    background-color: #f3f3f3;
}
.menu-item:nth-child(6) {
    grid-column: 1;
    grid-row: 4;
    background-image: url(../resources/images/main/grid_6.webp);
    background-size: 60%;
}
.menu-item:nth-child(6):hover {
    background-size: 63%;
    transition: all 0.2s ease-in-out;
    background-color: #f3f3f3;
}
.menu-item:nth-child(7) {
    grid-column: 2;
    grid-row: 4;
    background-image: url(../resources/images/main/grid_7.webp);
    background-size: 100%;
}
.menu-item:nth-child(7):hover {
    background-size: 103%;
    transition: all 0.2s ease-in-out;
    background-color: #f3f3f3;
}
.menu-item:nth-child(8) {
    grid-column: 3 / 5;
    grid-row: 3 / 5;
    border: 5px solid #f8f8f8;
    background-image: url(../resources/images/main/grid_8-1.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 72%;
}
.menu-item:nth-child(8):hover {
    background-size: 75%;
    transition: all 0.2s ease-in-out;
    border-color: #f5f5f5;
}
.menu-item .item-text {
    position: relative;
    top: 7%;
    left: 8%;
    font-size: 1.1rem;
    font-weight: 800;
    color: #333;
}
.menu-item:nth-child(4) .item-text, .menu-item:nth-child(5) .item-text {
    position: relative;
    top: 7%;
    left: 4%;
    font-size: 1.1rem;
    font-weight: 800;
}
.menu-item:nth-child(8) .item-text {
    position: relative;
    top: 5%;
    left: 5%;
    font-size: 1.1rem;
    font-weight: 800;
}
.item-text .item-text-head {
    position: absolute;
    margin: 14% 0 0 7%;
    font-size: 2rem;
    font-weight: 800;
    font-family: 'LeferiPoint-BlackA';
}

.item-text .item-text-head-2 {
    position: absolute;
    margin: 22% 0 0 7%;
    font-size: 2rem;
    font-weight: 800;
    font-family: 'LeferiPoint-BlackA';
}
.item-text .item-text-content-1 {
    position: absolute;
    margin-top: 40%;
    right: 30%;
    font-size: 1.1rem;
    font-weight: 600;
}
.item-text .item-text-content-2 {
    position: absolute;
    margin-top: 45%;
    right: 30%;
    font-size: 1.1rem;
    font-weight: 600;
}
.item-text .item-text-content-3 {
    position: absolute;
    margin-top: 50%;
    right: 30%;
    font-size: 1.1rem;
    font-weight: 600;
}
.item-text .item-text-content-4 {
    position: absolute;
    margin-top: 58%;
    right: 32%;
    font-size: 1.2rem;
    font-weight: 800;
    color: #555;
}
.item-text .item-text-content-4::after {
    position: absolute;
    content: '';
    margin-top: 5px;
    width: 10px;
    height: 10px;
    border-top: 3px solid #555;
    border-right: 3px solid #555;
    transform: rotate(45deg);
    margin-left: 5px;
}
.item-text .item-text-content-4:hover {
    color: #000;
    font-size: 1.3rem;
    transition: 0.2s ease-in-out;
}
.item-text .item-text-content-4:hover::after {
    border-color: #000;
    width: 12px;
    height: 12px;
    transition: 0.2s ease-in-out;
}

.item-sort-box {
    width: 70%;
    margin: 150px auto 0;
    display: grid;
    grid-template-columns: 7fr 8fr;
}
.item-sort-box .sort-box-left {
    display: grid;
    justify-content: end;
    margin-right: 80px;
    font-size: 1.3rem;
    font-weight: 800;
    color: #222;
}

.item-sort-box .sort-box-right {
    width: 100%;
    font-size: 2rem;
    font-weight: 900;
    display: grid;
    grid-template-rows: repeat(1fr, 9);
}
.item-sort-box .sort-item {
    width: 100%;
    color: #888;
    padding-bottom: 10px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.3);
    margin-top: 50px;
}
.item-sort-box .sort-item:hover {
    color: #000;
    border-bottom: 3px solid #000;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.support-box {
    width: 70%;
    height: 50vh;
    display: grid;
    margin: 150px auto 0;
    justify-content: center;
}
.support-box .support-box-img {
	width: 100%;
}
.app-list-box {
    display: grid;
    width: 70%;
    margin: 150px auto 0;
    justify-content: center;
    grid-template-columns: 1fr 2fr;
}
.app-list-box .app-list-left {
    display: grid;
    justify-content: end;
    margin-right: 80px;
    font-size: 1.3rem;
    font-weight: 900;
    color: #000;
}
.app-list-box .app-list-right {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}
.app-list-right .app-list {
    display: grid;
    grid-template-columns: 3fr 1fr;
    border-style: none;
    border-top: 3px solid rgba(0, 0, 0, 0.3);
    padding-top: 30px;
    height: 180px;
    font-weight: 900;
    font-size: 2rem;
    color: #777;
    margin-top: 50px;
}
.app-list .app-list-1-1 {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin: 0 auto 0;
    justify-content: end;
}
.app-list-right .list-left:hover {
    border-top: 3px solid #000;
    color: #000;
    -webkit-transform: rotate(-2deg) scale(1.05);
    transform: rotate(-2deg) scale(1.05);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.app-list-right .list-right:hover {
    border-top: 3px solid #000;
    color: #000;
    -webkit-transform: rotate(2deg) scale(1.05);
    transform: rotate(2deg) scale(1.05);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.more-game-btn {
    display: grid;
    width: 70%;
    margin: 50px auto 0;
    justify-content: center;
}
.more-game-btn .more-game {
    border: 2px solid rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    border-radius: 50px;
    font-size: 1rem;
    color: #555;
}
.more-game-btn .more-game:hover {
    border: 2px solid rgba(0, 0, 0, 0.8);
    color: #000;
    transition: 0.3s ease-in-out;
}

#back-to-top {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    opacity: 0;
    transition: background-color 0.3s, opacity 0.3s, visibility 0.3s;
    visibility: hidden;
    z-index: 1000;
    transform: 100ms ease-out;
}
#back-to-top:hover {
    cursor: pointer;
}
#back-to-top.show {
    opacity: 0.8;
    visibility: visible;
}

.footer-gap {
    margin-top: 300px;
}


