@charset "UTF-8";
.admin-right-container {
  width: 55%;
  position: relative;
  left: 24%;
}
.admin-right-container h2 {
  margin: 50px auto 30px;
  font-weight: 900;
  text-align: center;
}
.right-item-title-under {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}
.admin-right-container .item-conatainer {
  display: grid;
  height: 100vh;
}
.category-box .item-input-box {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin: 10px 0 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
  column-gap: 30px;
  align-items: center;
}
.category-box .item-input-box .value-input-box  {
  display: grid;
  width: 100%;
}
.category-box .item-input-box .value-input-box {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  padding-left : 20px;
}
.category-box .item-input-box .item-input-text {
  text-align: center;
  font-weight: 900;
  font-size: 1.3rem;
}
.category-box .item-input-box .value-input-box input::placeholder {
  font-size: 1.1rem;
  
}
.category-box .item-input-box .value-input-box input[type=number] {
  height: 40px;
  padding-left: 10px;
  border-radius: 5px;
  font-size: 1.1rem;
}
.category-box .item-input-box .value-input-box input[type=text] {
  height: 40px;
  padding-left: 10px;
  border-radius: 5px;
  font-size: 1.1rem;
}
.category-box .item-input-box .value-input-box input[type=date] {
  height: 40px;
  padding-left: 10px;
  border-radius: 5px;
  font-size: 1.1rem;
}
.category-box .item-input-box .value-input-box select {
  height: 40px;
  padding-left: 10px;
  border-radius: 5px;
  font-size: 1.1rem;
}
.category-box .item-input-box .value-input-box input[type=radio] {
  accent-color: #555;
}
.category-box .item-input-box .radio-btn-align {
  display: grid;
  grid-template-columns: repeat(8,1fr);
  font-size: 1.0rem;
}
.category-box .item-input-box .fName-box-align {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.category-box .item-input-box .value-input-box input[type=file] {
  width: 0;
  height: 0;
  padding: 0;
  display: none;
  border: 0;
}
.category-box .item-input-box .value-input-box .fName-label {
  padding: 10px 20px;
  color: #fff;
  vertical-align: middle;
  align-items: center;
  background-color: #999;
  cursor: pointer;
  margin-left: 10px;
  font-size: 1rem;
  border-radius: 5px;
}

.category-box .item-input-box .value-input-box input {
  font-size: 1.1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 20px;
  border-radius: 5px;
  width: 100%;
}
.category-box .item-input-box .value-input-box input::placeholder {
  font-size: 1.1rem;
}

.category-box .item-input-box .input-input-file span {
  margin-left: 20px;
  font-size: 1rem;
}
.category-box .item-input-box-box {
  display: grid;
  grid-template-columns: 2fr 7fr;
  text-align: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
}
.category-box .item-input-box-box .item-input-text-text {
  font-size: 1.3rem;
  font-weight: 900;
  margin-right: 35px;
}
.category-box .item-input-box-box .value-input-box-box {
  padding-left: 20px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.category-box .item-input-box-btn {
  margin-top: 30px;
  text-align: center;
}
.category-box .item-input-box-btn input {
  padding: 13px 20%;
  font-size: 1.3rem;
  border-radius: 5px;
  background-color: #D01012;
  border-style: unset;
  color: #fff;
  margin-bottom: 300px;
}
.item-input-box span {
  font-size: 0.9rem;  
  margin-top: 12px;
}
