@charset "UTF-8";
@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: 'SUITE-Regular';
  color: #111;
}


.regQnaBox {
  width: 450px;
  height: 500px;
  padding: 20px 30px;
}

.regQnaBox .regQnaTitle {
  font-weight: 900;
  font-size: 1.5rem;
  margin-top: 30px;
}
.regQnaBox .regTitleBtm {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px 0 20px;
}
.regQnaBox .text-box {
  padding: 20px 20px 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.regQnaBox .text-box textarea {
  resize: none;
  border: none;
  overflow-y: hidden;
  width: 410px;
  height: 150px;
  padding: 0;
}
.regQnaBox .text-box textarea:focus {
  outline: none;
}
.regQnaBox .text-box .textCnt {
  margin: 10px auto 0;
  text-align: end;
}

.regQnaBox .chk-box input[type="checkbox"] { 
  position:absolute; 
  left: -3000%;
}
.regQnaBox .chk-box input[type="checkbox"] + label { 
  height: 36px;
  line-height: 36px;
}
.regQnaBox .chk-box input[type="checkbox"] + label:before { 
  content: ""; 
  display:inline-block; 
  margin:0 10px 0 0; 
  width: 15px; 
  height: 15px; 
  border:1px solid #999; 
  background:#fff;
  vertical-align: -4px;
}
.regQnaBox .chk-box input[type="checkbox"]:checked + label:before {
  background: url(../resources/images/store/ico_check_on.png) no-repeat center #3C401C;
  border-color:#333;
}
.regQnaBox .chk-box label {
  font-size: 0.9rem;
  color: #111;
}

.regQnaBox .warning {
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: center;
  margin-top: 10px;
  font-size: 0.8rem;
}
.regQnaBox .warning img {
  align-self: flex-start;
  width: 15px;
  height: 15px;
}

.regQnaBox .warning .text a {
  text-decoration: underline;
  font-weight: 900;
  color: #555;
}

.regQnaBox .btn-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 20px auto;
  justify-content: center;
}
.regQnaBox .btn-box .cancel {
  font-size: 1.0rem;
  padding: 10px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.regQnaBox .btn-box .regQnaBtn {
  font-size: 1.0rem;
  padding: 10px;
  background-color: #555;
  color: #fff;
}
.regQnaBox .btn-box .cancel:hover {
  cursor: pointer;
}
.regQnaBox .btn-box .regQnaBtn:hover {
  cursor: pointer;
}