@charset "UTF-8";
@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: 'SUITE-Regular';
  color: #111;
}

.regReview-box {
  width: 500px;
  /* height: 800px; */
  margin: 0 auto 0;
  justify-content: center;
  border: 3px solid rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.regReview-box .review-title {
  font-weight: 900;
  font-size: 1.7rem;
  margin: 30px auto 0;
  text-align: center;
}
.regReview-box .review-title-btm {
  margin-top: 30px;
  border: 1px solid rgba(0, 0, 0, 1);
}

.regReview-box .review-sm-box {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  gap: 10px;
  padding: 15px;
  background-color: #f7f7f7;
}

.regReview-box .review-sm-box .img-box img {
  width: 45px;
  height: 45px;
  background-color: #fff;
}
.regReview-box .review-sm-box .product-title {
  font-size: 0.9rem;
}

.regReview-box .review-rating-box {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
}

.rating-status {
  display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
  direction: rtl;
  border: 0; /* 필드셋 테두리 제거 */
}
.rating-status input[type=radio]{
  display: none; /* 라디오박스 감춤 */
}
.rating-status label{
  font-size: 3rem; /* 이모지 크기 */
  color: transparent; 
  /* 기존 이모지 컬러 제거 */
  text-shadow: 0 0 0 #f0f0f0;
   /* 새 이모지 색상 부여 */
}
.rating-status label:hover{
  text-shadow: 0 0 0 #d01012; /* 마우스 호버 */
}
.rating-status label:hover ~ label{
  text-shadow: 0 0 0 #d01012; /* 마우스 호버 뒤에오는 이모지들 */
}
.rating-status input[type=radio]:checked ~ label{
  text-shadow: 0 0 0 #d01012; /* 마우스 클릭 체크 */
}
.regReview-box .review-rating-box .result1 {
  font-size: 0.9rem;
}
.rating-status-1 {
  display: inline-block;
  direction: rtl;
  border: 0; 
}
.rating-status-1 input[type=radio]{
  display: none;
}
.rating-status-1 label{
  font-size: 2.3rem; 
  color: transparent; 
  text-shadow: 0 0 0 #f0f0f0;
}
.rating-status-1 label:hover{
  text-shadow: 0 0 0 #6667AB; /* 마우스 호버 */
}
.rating-status-1 label:hover ~ label{
  text-shadow: 0 0 0 #6667AB; /* 마우스 호버 뒤에오는 이모지들 */
}
.rating-status-1 input[type=radio]:checked ~ label{
  text-shadow: 0 0 0 #6667AB; /* 마우스 클릭 체크 */
}

.regReview-box .review-rating-box .title {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 10px;
  font-weight: 900;
}

.regReview-box .review-rating-box .rating {
  text-align: center;
}
.rating-1 .rating div:nth-child(2) {
  color: #999;  
}
.regReview-box .text-box {
  margin: 30px auto 0;
  text-align: center;
}

.regReview-box .text-box .title {
  font-size: 1.2rem;
  font-weight: 900;
  margin-bottom: 20px;
}

.regReview-box .text-sm-box {
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.regReview-box .text-sm-box textarea {
  resize: none;
  border: none;
  overflow-y: hidden;
  width: 460px;
  height: 120px;
}
.regReview-box .text-sm-box textarea:focus {
  outline: none;
}
.regReview-box .text-sm-box .textCnt {
  margin: 5px auto 0;
  text-align: end;
}

.regReview-box .filebox #Review-file {
  display: none;
}
.regReview-box .filebox .file-sub {
  margin: 30px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  padding: 15px 0px;
}
.regReview-box .filebox .file-sub img {
  width: 25px;
  height: 25px;
}
.regReview-box .filebox .file-sub span {
  margin-left: 10px;
  font-size: 1rem;
}
.regReview-box .filebox .file-sub:hover {
  cursor: pointer;
}

.regReview-box .btn-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1rem;
  margin-top: 50px;
  height: 50px;
  gap: 20px;
}
.regReview-box .btn-box input {
  font-size: 1rem;
}
.regReview-box .btn-box input:hover {
  cursor: pointer;
}
.regReview-box .btn-box .cancel {
  font-size: 1.0rem;
  padding: 10px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.regReview-box .btn-box .regQnaBtn {
  font-size: 1.0rem;
  padding: 10px;
  background-color: #555;
  color: #fff;
}

