@charset "UTF-8";

@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: 'SUITE-Regular';
  color: #111;
}



.review-container {
  width: 70%;
  justify-content: center;
  margin: 120px auto 0;
}

.review-container .review-title {
  font-size: 1.5rem;
  font-weight: 900;
}
.review-container .review-sub-title {
  margin-top: 20px;
  color: #555;
  font-size: 0.9rem;
}
.review-container .review-btm {
  border: 1px solid;
  margin-top: 20px;
}
.review-container .review-main-box {
  margin-top: 20px;
  background-color: #f7f7f7;
  padding: 30px 20px;

}
.review-container .review-main-box .main-title-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  height: 40px;
  font-size: 1rem;
  font-weight: 900;
  margin-bottom: 15px;
}

.review-container .review-main-box .content-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}
.review-container .review-main-box .rating-box {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.review-main-box .rating-box .rating {
  position: relative;
  font-size: 2rem;
  color: transparent;
  text-shadow: 0 0 0 #ccc;
}

.review-main-box .rating-box .rating input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
}

.review-main-box .rating-box .rating span {
  width: 0;
  position: absolute; 
  left: 0;
  color: #d01012;
  overflow: hidden;
  pointer-events: none;
  white-space: nowrap;
}

.review-main-box .rating-box .rating-cnt {
  font-size: 2rem;
  font-weight: 900;
}
.review-main-box .rating-box .rating-cnt span {
  color: #ccc;
}

.review-container .review-main-box .review-cnt-box {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
}
.review-main-box .review-cnt-box .img-box img {
  width: 40px;
  height: 40px;
}
.review-main-box .review-cnt-box .cnt {
  font-size: 2rem;
  font-weight: 900;
}
.review-container .review-main-box .eval-box {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-self: center;
  align-items: center;
  width: 70%;
}
.review-container .review-main-box .eval-box .title {
  border: 1px solid #6667AB;
  color: #6667AB;
  border-radius: 13px;
  font-size: 13px;
  float: left;
  height: 24px;
  text-align: center;
  vertical-align: middle;
  padding: 0 6px;
  line-height: 24px;
  min-width: 60px;
}
.review-container .review-main-box .eval-box .content {
  margin-left: 10px;
}
.review-container .review-main-box .eval-box .content-title {
  height: 26px;
  line-height: 26px;
  font-size: 14px;
  position: relative;
  text-align: left;
  
}
.review-container .review-main-box .eval-box .content-title::after{
  position: absolute;
  top: 50%;
  right: 0;
  left: 80px;
  margin-top: -1px;
  border-top: 1px dashed #ccc;
  content: "";
  width: 40px;
}
.review-container .review-main-box .eval-box .content-value {
  padding-left: 10px;
  float: right;
  height: 26px;
  line-height: 26px;
  font-weight: 900;
  color: #777;
}

.review-container .content-btm {
  margin-top: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-width: 1px;
}

.review-container .review-box .review-title {
  margin-top: 40px;
  font-size: 1.2rem;
  font-weight: 900;
  
}
.review-container .review-box .review-title span {
  margin-left: 10px;
  margin-right: 3px;
}
.review-container .review-box .title-btm {
  margin-top: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.review-container .review-box .review-repeat-box {
  display: grid;
  grid-template-columns: 50px 1fr 300px;
  gap: 10px;
  margin-top: 30px;
}

.review-container .review-box .review-repeat-box .profile img {
  border-radius: 50%;
  border: 1px solid;
  border-color: #d7d7d7;
  background-color: #f8f8f8;
  width: 35px;
  height: 35px;
  padding: 5px;
}
.review-container .review-box .review-repeat-box .img-box {
  display: grid;
  align-items: center;
  justify-content: center;
}
.review-container .review-box .review-repeat-box .img-box img {
  width: 200px;
  height: 200px;
}

.review-container .review-box .review-repeat-box .info-box .info-rating {
  position: relative;
  font-size: 15px;
  color: transparent;
  text-shadow: 0 0 0 #999;
}

.review-container .review-box .review-repeat-box .info-box .info-rating input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
}

.review-container .review-box .review-repeat-box .info-box .info-rating span {
  width: 0;
  position: absolute; 
  left: 0;
  color: #d01012;
  overflow: hidden;
  pointer-events: none;
  white-space: nowrap;
}
.review-container .review-box .review-repeat-box .info-box .user-info {
  margin-bottom: 10px;
}
.review-container .review-box .review-repeat-box .info-box .uid {
  font-size: 0.8rem;
  margin-right: 15px;
  color: #555;
}
.review-container .review-box .review-repeat-box .info-box .product-info {
  margin-top: 3px;
  color: #555;
}
.review-container .review-box .review-repeat-box .info-box .sub-info {
  background-color: #f8f8f8;
  align-items: center;
  padding: 15px;
}
.review-container .review-box .review-repeat-box .info-box .sub-info .title {
  margin: 0 5px 0 15px;
}


.review-container .review-box .review-repeat-box .info-box .content-rating-1 {
  position: relative;
  font-size: 15px;
  color: transparent;
  text-shadow: 0 0 0 #bbb;
}

.review-container .review-box .review-repeat-box .info-box .content-rating-1 input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
}

.review-container .review-box .review-repeat-box .info-box .content-rating-1 span {
  width: 0;
  position: absolute; 
  left: 0;
  color: #6667AB;
  overflow: hidden;
  pointer-events: none;
  white-space: nowrap;
}


.review-container .review-box .review-repeat-box .info-box .content-rating-2 {
  position: relative;
  font-size: 15px;
  color: transparent;
  text-shadow: 0 0 0 #bbb;
}

.review-container .review-box .review-repeat-box .info-box .content-rating-2 input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
}

.review-container .review-box .review-repeat-box .info-box .content-rating-2 span {
  width: 0;
  position: absolute; 
  left: 0;
  color: #6667AB;
  overflow: hidden;
  pointer-events: none;
  white-space: nowrap;
}


.review-container .review-box .review-repeat-box .info-box .content-rating-3 {
  position: relative;
  font-size: 15px;
  color: transparent;
  text-shadow: 0 0 0 #bbb;
}

.review-container .review-box .review-repeat-box .info-box .content-rating-3 input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
}

.review-container .review-box .review-repeat-box .info-box .content-rating-3 span {
  width: 0;
  position: absolute; 
  left: 0;
  color: #6667AB;
  overflow: hidden;
  pointer-events: none;
  white-space: nowrap;
}

.review-container .review-box .review-repeat-box .text-content {
  margin-top: 20px;
}

.review-container .review-box .repeat-btm {
  margin-top: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}


.page_wrap {
  margin-top: 25px;
	text-align:center;
	font-size:0;
}
.page_nation {
	display:inline-block;
}
.page_nation .none {
	display:none;
}
.page_nation a {
	display:block;
	margin:0 3px;
	float:left;
	border:1px solid #e6e6e6;
	width:28px;
	height:28px;
	line-height:28px;
	text-align:center;
	background-color:#fff;
	font-size:13px;
	color:#999999;
	text-decoration:none;
}
.page_nation .arrow {
	border:1px solid #ccc;
}
.page_nation .prev {
  border: none;
  position: relative;
  margin-right: 10px;
}
.page_nation .prev::before {
    position: absolute;
    left: -7px; 
    top: 10px; 
    content: '';
    width: 6px; 
    height: 6px;
    border-top: 1px solid #ccc; 
    border-right: 1px solid #ccc;
    transform: rotate(225deg);
}
.page_nation .next {
  border: none;
  position: relative;
  margin-left: 10px;
}
.page_nation .next::after {
  position: absolute;
  right: -7px; 
  top: 10px; 
  content: '';
  width: 6px; 
  height: 6px; 
  border-top: 1px solid #ccc; 
  border-right: 1px solid #ccc; 
  transform: rotate(45deg); 
}
.page_nation a.active {
	background-color:#42454c;
	color:#fff;
	border:1px solid #42454c;
}

