@charset "UTF-8";
@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: 'SUITE-Regular';
  color: #111;
}

.review-no-box {
  margin: 0 auto 0;
}
.review-no-box .img-box {
  text-align: center;
}
.review-no-box .img-box img {
  width: 40px;
  height: 40px;
}
.review-no-box .no-content {
  margin-top: 15px;
  text-align: center;
  font-size: 1rem;
}
.review-no-box .no-review-btm {
  margin: 50px 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
}


.reservation-content-box {
  width: 70%;
  margin: 50px auto 30px;
  justify-content: center;
}

.img-box-container {
  display: flex;
  gap: 50px;
}

.swiper {
  width: 100%;
  margin: 25px auto 15px;
  padding: 20px 0 20px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  justify-content: center;
}
.swiper-slide {
  text-align: center;
  justify-items: center;
  font-size: 18px;
  background: #fff;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 450px;
  height: 450px;
  object-fit: contain;
  justify-content: center;
  margin:  0 auto 0;
}
.swiper-button-prev,
.swiper-button-next,
.swiper-pagination {
  color: rgba(0, 0, 0, 0.1) !important;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  color: #777 !important;
  font-weight: 600 !important;
  font-size: 1.8rem !important;
}
.swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.content-box {
  width: 80%;
  margin: 0 auto;
  align-self: center;
}
.content-box .content-box-title {
  font-size: 35px;
  margin-bottom: 5px;
  font-weight: 900;
}
.content-box .price-before-box {
	display: flex;
	align-items:baseline;
	margin-bottom: 3px;
}
.content-box .price-before-box .before-price {
	text-decoration: line-through;
	font-size:27px;
	text-decoration-thickness: 2px;
	color: #999;
	margin-right: 15px;
}
.content-box .price-before-box .before-discount {
	font-size: 24px;
	color:coral;
}
.content-box .price-box {
  display: flex;
  align-items: end;
  margin-bottom: 30px;
}
.content-box .price-box .price {
  font-size: 27px;
  
}
.content-box .price-box .price-tag {
  font-size: 20px;
  padding-left: 10px;
}
.price_chk-box {
  border-top: 1px dotted rgba(0, 0, 0, 0.2);
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}
.price_chk-box-content {
  border: 1px dotted rgba(0, 0, 0, 0.1);
}
.price_chk-box-title {
  font-size: 1.1rem;
}
.price_chk-box-content-title {
  margin: 10px 0 10px 10px;
  font-size: 1.1rem;
}
.price_chk-box-pricebox-price {
  font-size: 1.1rem;
}
.price_chk-box-pricebox {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.price_chk-box-pricebox-title {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-style: none;
  width: 90px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 5px;
  align-items: center;
  justify-content: left;
}
.price_chk-box-pricebox-title input {
  margin: 0 auto 0;
  font-size: 20px;
  padding: 1px;
  align-items: center;
  background-color: #f9f9f9;
}
.price_chk-box-pricebox-title .minus-btn {
  border-style: none;
  width: 30px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.price_chk-box-pricebox-title .num-btn {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}
.price_chk-box-pricebox-title .plus-btn {
  border-style: none;
  width: 30px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.last-price-chk {
  display: flex;
  width: 100%;
  justify-content: end;
  align-items: end;
  margin: 40px auto 0;
}
.last-price-chk .last-price-chk-title {
  font-size: 1.3rem;
  margin-right: 12px;
}
.last-price-chk .last-price-chk-content {
  font-size: 1.8rem;
}
.last-price-chk .last-price-chk-end {
  font-size: 1.5rem;
  margin-left: 10px;
}
.cart-item {
  display: flex;
  justify-content: end;
}
.cart-item input[type="checkbox"] {
  position:relative;
  left: -3000%;
}
.cart-item input[type="checkbox"] + label {
  height: 15px;
  line-height: 15px;
  cursor: pointer;
  font-size: 13px;
}
.cart-item input[type="checkbox"] + label:before {
  content: "";
  background: url(../resources/images/store/heart.jpg) center no-repeat ;
  background-size: 60%;
  display: inline-block;
  margin: 28px 25px 0 0;
  width: 55px;
  height: 55px;
  border: 1px dotted rgba(0, 0, 0, 0.2);
  vertical-align: -5px;
} /*아이디 저장 박스 밑 위치 조정*/
.cart-item input[type="checkbox"]:checked + label::before {
  background: url(../resources/images/store/heart-f.jpg) center no-repeat;
  background-size: 60%;
}
.cart-item .cart-item-btn {
  width: 400px;
  height: 55px;
  margin-top: 30px;
  color: #fff;
  font-size: 18px;
  background-color: #d01012;
  align-items: center;
  justify-content: center;
}
.cart-item .cart-item-btn:hover {
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
.product-sub-info-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 50%;
  margin: 10px auto 0;
  justify-content: center;
  justify-items: center;
}
.product-sub-info-box .product-sub-info {
  display: grid;
  grid-template-rows: 2fr 1fr 2fr;
  justify-items: center;
  align-items: center;
  color: #333;
  margin-top: 30px;
}
.product-sub-info-box .product-sub-info~.product-sub-info::after{
  content: "";
  position: absolute;
  margin-right: 12.8%;
  height: 100px;
  width: 1px;
  background: rgba(0, 0, 0, 0.3);
  transform: rotate(0deg);
}

.product-sub-info-box .product-sub-info .product-sub-info-svg {
  display: grid;
}
.product-sub-info-box .product-sub-info .product-sub-info-text {
  margin-top: 3px;
  font-size: 0.9rem;
}
.product-sub-info-box .product-sub-info .product-sub-info-content {
  margin-top: 5px;
  font-size: 1.5rem;
  display: grid;
  align-items: baseline;
}
.product-btm-title-box {
  width: 70%;
  height: 70px;
  margin: 0 auto 0;
  justify-content: center;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  border-bottom: 1px solid;
}
.product-btm-title-box .product-btm-title {
  font-size: 1.0rem;
  padding: 5%;
  font-weight: 900;
}
.product-btm-title-box .product-btm-title:hover {
  cursor: pointer;
  color: #4EBF3C;
  transition: 0.2s ease-in-out;
}

.content-btm-1 {
  display: block;
  width: 70%;
  margin: 0 auto 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.content-upper {
  display: block;
  width: 70%;
  margin: 50px auto 150px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.content-box1 {
  width: 70%;
  margin: 100px auto 0;
}
.content-box1 .box1-img img {
  width: 100%;
}
.gap-st-content {
  margin-top: 300px;
}
.loginChk {
  margin-top: 30px;
  display: grid;
  width: 100%;
  height: 70px;
  background-color: #f5f5f5;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: underline;
}



.item-header {
  display: none;
  width: 70.2%;
  margin: 0 auto 0;
  padding-top: 15px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 3000;

}
.item-header .header-top {
  display: grid;
  grid-template-columns: 60px 5fr 1fr;
  gap: 15px;
}
.item-header .header-top .img {
  display: grid;
  justify-content: center;
}
.item-header .header-top .img img {
  width: 50px;
  height: 50px;
}

.item-header .header-top .title-box {
  display: grid;
  grid-template-rows: 1fr 1fr;
  font-size: 1.2rem;
  align-items: center;
}
.item-header .header-top .title-box .price-box {
  display: flex;
  align-items: baseline;
}
.item-header .header-top .price {
  text-decoration: line-through;
  color: #777;
  text-decoration-color: #888;
  text-decoration-thickness: 2px;
  font-weight: 900;
}
.item-header .header-top .discountPrice {
  font-weight: 900;
  margin-right: 15px;
  font-size: 1.3rem;
}

.item-header .header-btm {
  margin: 20px auto 0;
  align-content: center;
  display: grid;
}
.item-header .header-btm .header-btm-title:nth-child(1) {
  grid-column: 1/2;
  display: grid;
  justify-content: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8;
}
.item-header .header-btm .header-btm-title:nth-child(2) {
  grid-column: 2/3;
  display: grid;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8;
}
.item-header .header-btm .header-btm-title:nth-child(3) {
  grid-column: 3/4;
  display: grid;
  justify-content: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8;
}
.item-header .header-btm .header-btm-title {
  font-size: 1.0rem;
  font-weight: 900;
  padding: 15px;
}
.item-header .header-btm .header-btm-title:hover {
  cursor: pointer;
  color: #4EBF3C;
  background-color: #f3f3f3;
  transition: 0.2s ease-in-out;
}
.item-header .header-top .btn {
  display: grid;
  align-items: center;
  background-color: #d01012;
  justify-content: center;
  border-radius: 5px;
  font-size: 1.2rem;
  color: #fff;
}
.item-header .header-top .btn:hover {
	cursor: pointer;
}
.item-header .btm-line {
  width: 100%;
  border-bottom: 1px solid;
}



#back-to-top {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    opacity: 0;
    transition: background-color 0.3s, opacity 0.3s, visibility 0.3s;
    visibility: hidden;
    z-index: 1000;
    transform: 100ms ease-out;
}
#back-to-top:hover {
    cursor: pointer;
}
#back-to-top.show {
    opacity: 0.8;
    visibility: visible;
}


.qna-container .qna-no-body-content {
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding: 20px 0;
}
.qna-container .qna-no-body-content img{
  width: 40px;
  height: 40px;
}
.qna-container .qna-no-body-content .text {
  margin-top: 10px;
  color: #777;
  font-size: 0.9rem;
}