@charset "UTF-8";
@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'SUITE-Regular';
    color: #333;
}

.storeMap-box {
    width: 70%;
    margin: 200px auto;
    justify-content: center;
    align-items: center;
}
.storeMap-box .storeMap-title {
    font-size: 2.5rem;
    font-weight: 900;
}

.storeMap-box .storebox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px auto 0;
    justify-items: center;
    align-items: center;
    
}
.storeMap-box .storebox img {
    height: 400px;
    width: 100%;
    object-fit: contain;
}

.storeMap-box .info-box {
	margin-top: 50px;
    padding: 40px;
    border: 1px solid rgba(0,0,0,0.2);
}

.storeMap-box .location-title {
    font-size: 1.8rem;
    font-weight: 900;
    margin-bottom: 10px;
}
.storeMap-box .location-info {
    font-size: 1.5rem;
    margin-bottom: 40px;
}
.storeMap-box .addr {
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.storeMap-box .tel {
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.storeMap-box .info-text-title {
    font-size: 1.8rem;
    font-weight: 900;
    margin-bottom: 10px;
}

.storeMap-box .info-text-content {
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.storeMapDetail-margin {
    margin-top: 300px;
}