@charset "UTF-8";
@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'SUITE-Regular';
}

.store-main-container .head-banner {
    width: 90%;
    margin: 0 auto 0;
    display: grid;
}

.store-main-container .head-banner .head-banner-img img {
    margin-top: 110px;
    width: 100%;
    height: 830px;
    object-fit: contain;
}

.store-main-container .product-list-header {
    width: 70%;
    font-size: 2rem;
    color: #111;
    font-weight: 900;
    align-items: center;
    margin: 100px auto 0;
}

.store-main-container .category-inner-box {
    width: 70%;
    margin: 20px auto 0;
}

.store-main-container .category-inner {
    display: flex;
    justify-content: end;
    align-items: center;
}

.store-main-container .category-inner li {
    position: relative;
    padding: 0 18px;
    font-size: 0.9rem;
}

.store-main-container .category-inner li~li:after {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    height: 14px;
    width: 1px;
    background: #262614;
    transform: rotate(0deg);
}

.store-main-container .category-btm {
    display: block;
    margin: 10px auto 0;
    text-align: center;
    width: 70%;
}

.store-main-container .product-list-container {
    width: 70%;
    margin: 20px auto 0;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 30px;
}
.store-main-container .product-list-container .list-align-box {
    width: 90%;
    margin: 50px auto 0;
    border-top: 5px solid rgba(0, 0, 0, 0.2); 
    border-bottom: 5px solid rgba(0, 0, 0, 0.2); 
    font-size: 1rem;
    color: #111;
    display: grid;
    grid-template-rows: 50px auto;
    height: 400px;
    position: sticky;
    top:150px;
}
.product-list-container .list-align-box .head {
    width: 85%;
    margin: 10px auto;
    font-size: 1.1rem;
    font-weight: 900;
    text-align: left;
}
.product-list-container .list-align-box .text-box {
    display: grid;
    width: 90%;
    margin: 0 auto 10px;
    grid-template-columns: 1fr 1fr;
    gap:5px;
    justify-content: center;
    align-items: center;
}
.product-list-container .list-align-box input {
    margin-right: 7px;
    accent-color : #555;
}
.store-main-container .product-list-container .list-content-box {
    display: grid;
    justify-content: center;
    align-items: center;
}
.product-list-container .list-content-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}
.list-content-box .list-content-item {
    display: grid;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
}
.list-content-box .list-content-item a {
    width: 326px;
    height: 326px;
}
.list-content-box .list-content-item img {
    padding: 20px;
    width: 280px;
    height: 280px;
    border: 3px solid rgba(0, 0, 0, 0.1);
    object-fit: contain;
}
.list-content-box .list-content-item .content-inner {
    margin-top: 15px;
    width: 320px;
    height: 65px;
}
.content-inner .content-title {
    display: grid;
    align-items: center;
}
.content-inner .content-title .title-head {
    font-size: 1.0rem;
    color: #111;
    display: grid;
}
.content-title .title-price {
    display: grid;
    margin-top: 3px;
    font-weight: bold;
    font-size: 1.1rem;
    color: #111;
}

.content-title .title-price .price {
	font-weight: 900;
}
.content-title .title-price .price-box .price {
	text-decoration: line-through;
	color: #999;
	text-decoration-thickness: 2px;
	margin-right: 10px; 
}
.list-content-item .cart-item a {
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 53px;
    left: 3px;
    background-color: #D01012;
    color: #FFF;
    width: 20px;
    height: 20px;
    padding: 15px;
}

.margin-index {
    height: 300px;
}

#back-to-top {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    opacity: 0;
    transition: background-color 0.3s, opacity 0.3s, visibility 0.3s;
    visibility: hidden;
    z-index: 1000;
    transform: 100ms ease-out;
}
#back-to-top:hover {
    cursor: pointer;
}
#back-to-top.show {
    opacity: 0.8;
    visibility: visible;
}

.itemCount {
    position: relative;
    left: 30.5%;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 900;
    margin-top: 40px;
    color: #333;
}