@charset "UTF-8";
@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'SUITE-Regular';
    color: #333;
}

.map-container {
    width: 70%;
    margin: 150px auto 200px;
    justify-content: center;
}

.map-container .title {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 900;
    margin-bottom: 50px;
}
.map-container .big-map {
	margin-bottom: 50px;
}
.map-container .repeat-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.map-container .map-box {
    display: grid;
    grid-template-columns: 70px 1fr;
    gap: 30px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.map-container .map-box .marker-box img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.map-container .map-box .text-box div {
    font-size: 1.2rem;
    margin-bottom: 7px;
}
.map-container .map-box .text-box .title-1 {
    font-weight: 900;
    margin-bottom: 15px;
}

.map-container .map-box .text-box .link {
    margin: 20px auto 0;
    font-size: 1rem;
}
.map-container .map-box .text-box .link a {
    position: relative;
    color: #007fff;
}
.map-container .map-box .text-box .link a::after {
    position: absolute;
    right: -13px;
    top: 7px;
    content: '';
    width: 0.5rem;
    height: 0.5rem;
    border-top: 1px solid #007fff;
    border-right: 1px solid #007fff;
    transform: rotate(45deg);
}